/build/
/*.elf
/*.bin
/*.hex
/*.map
/*.list
/*.lst
/*.o
/*.d
/*.su

.settings/
.project
.cproject

.vscode/
.idea/

.DS_Store
Thumbs.db

Rules_POWER.md

POWER_Controller_BNT.md
Tests/build/

# Lint artifacts
cppcheck-build-dir/
compile_commands.json
.cache/clangd/